*{
	margin: 0;
	padding: 0;

}

.bg-image{
  background: url("img/pizza9.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo{
	color: white;
	background-color:rgba(0,0,0,0.5);
	padding-left: 20px;
	position: fixed;
	font-family: 'Fugaz One', cursive;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    top: 0;
    width: 100%
}
.style-p{
	color:blue;
	font-size: 100px;
	font-family: 'Lobster', cursive;
}
.showcase{
	color: white;
	font-family: 'Fugaz One', cursive;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    text-align: center;
    background-color:rgba(0,0,0,0.7);
    padding-top: 300px;
    padding-bottom: 100px;
}
section{
	padding-top: 50px;
	text-align: center;
    font-family: 'Lobster', cursive;
    font-family: 'Bad Script', cursive;
	font-size: 20px;
	margin: 30px;

}
section h1{
	padding-bottom: 20px;

}
.menu{
	padding-top: 50px;
	font-weight: bolder;
	
}
.menu h1{
	font-size: 30px;
}
.men_ex{
    border-radius:5px;
    display: none;
    text-align: center;
    float: right;
    width: 50%;

 
}
.men_ex ul {
    margin: 0; 
    padding: 0;
    width:185px;
    list-style-type: none;
    
}

.men_ex ul li a {
    text-decoration: none;
    color: #fff; 
     padding: 10.5px 11px;
    background-color: #370089;
    display:block;
    border-bottom:solid 1px #000;
}
 
.men_ex ul li a:visited {
    color: white;
}
 
.men_ex ul li a:hover, ul li .current {
    color: #000;
    background-color: #00d7ff;
}

.col-md-4{
	text-align: center;

}
.size{
    border-radius:5px;
    display: none;
    text-align: center;
    float: right;
    width: 50%;
}
.size ul {
    margin: 0; 
    padding: 0;
    width:185px;
    list-style-type: none;
    
}

.size ul li a {
    text-decoration: none;
    color: #fff; 
    padding: 10.5px 11px;
    background-color: #370089;
    display:block;
    border-bottom:solid 1px #000;
}
 
.size ul li a:visited {
    color: white;
}
 
.size ul li a:hover, ul li .current {
    color: #000;
    background-color: #00d7ff;
}

.col-md-4{
	text-align: center;

}
.men_top{
    border-radius:5px;
    display: none;
    text-align: center;
    float: right;
    width: 50%;
}
.men_top ul {
    margin: 0; 
    padding: 0;
    width:185px;
    list-style-type: none;
    
}

.men_top ul li a {
    text-decoration: none;
    color: #fff; 
    padding: 10.5px 11px;
    background-color: #370089;
    display:block;
    border-bottom:solid 1px #000;
}
 
.men_top ul li a:visited {
    color: white;
}
 
.men_top ul li a:hover, ul li .current {
    color: #000;
    background-color: #00d7ff;
}

.col-md-4{
	text-align: center;

}
#pizza,#Crust,#Sizes{
  display: none;
  width: 20%;
  background-color: #00d7ff; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
}
#Order{
	width: 30%;
    background-color: #370089;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    padding: 15px 32px;

}



